.home_divider {
    padding-bottom: 12%;
    margin-bottom: -12.5%;
    background-color: #242327;
    z-index: 2;
    content: "";
    height: auto;
    width: 100%;
    clip-path: polygon(100% 0%, 31.6% 97.1%, 30.4% 98.6%, 29.5% 99.5%, 28.5% 99.5%, 27.7% 98.6%, 26.8% 96.7%, 25.8% 93.3%, 0% 0%);


}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.header-container{
    position: relative;
}
.home_content {
    background-color: #242327;
    padding: 16rem 0 11rem 0;
}

.home_data {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0 auto;
    width: 61%;
}

.home_data p {
    color: #b8b8b8;
    z-index: 2;
    font-size: 1.7rem;
}

.home_data h1 {
    color: #A24C4E;
    font-size: 5.7rem;
    font-family: 'Nunito';
    z-index: 2;
    margin: -1rem 0;
    padding-bottom: 5rem;
}

.home_data h2 {
    color: #fff;
    font-size: 3rem;
    z-index: 2;
    display: flex;
    position: absolute;
    top: 50%;
}

.home-items{
    position: relative;
}

/* scroll animation*/

.scroll_icon {
    width: 45px;
    height: 70px;
    border: #fff solid 2px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    top: 85%;
    left: 28%;
}

.scroll_icon span {
    background-color: #fff;
    width: 5px;
    height: 10px;
    border-radius: 30px;
    margin-top: 10px;
    position: relative;
}

.scroll_icon span::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: translateY(-10px) rotate(135deg);
    left: -6px;
    margin-top: 10px;
    opacity: 0;
    animation: ani 1.8s infinite linear;
}


.scroll_icon span::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: translateY(-10px) rotate(135deg);
    left: -6px;
    margin-top: 10px;
    opacity: 0;

    animation: ani 1.8s infinite linear;
    animation-delay: 0.8s;
}

@keyframes ani {
    0% {
        margin-top: 10px;
        opacity: 0;
    }

    50% {
        margin-top: 25px;
        opacity: 1;
    }

    100% {
        margin-top: 40px;
        opacity: 0;
    }
}

@media (max-width: 620px) {
    .home_divider {
        padding-bottom: 5%;
        margin-bottom: -31%;
        height: 6rem;
    }
    .home_content {
        padding: 6rem 0 5rem 0;
    }
    .home_data {
        width: 80%;
        margin:0;
        margin-left: 10%;
    }
    .home_data p {
        font-size: 1.2rem;
    }
    .home_data h1 {
        font-size: 4.5rem;
        line-height: 4.3rem;
    }
    .home_data h2 {
        font-size: 1.5rem;
        top: 55%;
    }
    .scroll_icon {
        top: 77%;
        left: 24%;
    }
  }
  @media (min-device-width: 621px) and (max-width: 1200px) {
    .home_divider {
        margin-bottom: -20%;
        height: 8rem;
    }
    .home_content {
        padding: 11rem 0 7rem 0;
    }
    .home_data {
        width: 80%;
    }
    .home_data p {
        font-size: 1.4rem;
    }
    .home_data h1 {
        padding-top: 1rem;
        font-size: 5rem;
        line-height: 5rem;
    }
    .home_data h2 {
        font-size: 1.8rem;
        top: 55%;
    }
    .scroll_icon {
        top: 82%;
        left: 26%;
    }
  }
