@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.navmenu-togle:checked ~ .navbar_items{
transform: scale(1,1);
}
.navmenu-togle{
  display: none;
}
.navmenu-togle-label{
position: absolute;
left: 0px;
top: 17px;
}

.navmenu-togle-label span,
.navmenu-togle-label span::before,
.navmenu-togle-label span::after {
  display: none;
  background: #e3e1e3;
  height: 3px;
  width: 2rem;
  border-radius: 2px;
  position: relative;
}
.navmenu-togle-label span::before,
.navmenu-togle-label span::after{
  content: '';
  position: absolute;
}

.navmenu-togle-label span::before {
  bottom: 9px;
}

.navmenu-togle-label span::after {
  top: 9px;
}

.navbar_container {
  background-color: #242327;
  position: fixed;
  top: 0;
  height: 57px;
  width: 100%;
  z-index: 900;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 63%;
  transition: 0.4s ease-in-out;
  margin: -1px auto 0 auto;
}

.navbar h3 {
  font-family: "Nunito";
  justify-self: start;
  align-items: center;
  margin: 0;
  color: #A24C4E;
  font-size: 1rem;
  transition: 0.4s ease-in-out;
}

.navbar_scrolled {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 63%;
  height: 100%;
  margin: 0 auto;
  transition: 0.4s ease-in-out;
}

.navbar_scrolled h3 {
  font-family: "Nunito";
  justify-self: start;
  align-items: center;
  margin: 0;
  color: #A24C4E;
  font-size: 1.5rem;
  transition: 0.4s ease-in-out;
}


/*sections*/
.navbar_items {
  display: flex;
  align-items: center;
  margin-right: 0;
  padding-top: 10px;
}

.navbar_sections_container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.active.navbar_section,.navbar_section{
  cursor: pointer;
}
.active.navbar_section:hover,.navbar_section:hover{
  color: #fff;
}

.navbar_sections_container a {
  font-family: "Nunito";
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.8px;
  text-decoration: none;

  padding: 0 20px;
  opacity: 0.51;
}
.navbar_sections_container a h2 {
  font-size: 1.3rem;
}

.navbar_section {
  opacity: 0.8;
  color: #fff;
}

.active.navbar_section {
  opacity: 1;
  color: #fff;
}

.proj-modal-images{
  display: flex;
  flex-direction: column;
}



@media (max-width: 1199px) {

  .navmenu-togle-label span,
  .navmenu-togle-label span::before,
  .navmenu-togle-label span::after {
    display: block;
  }

  .navmenu-togle-label{
    left: 8%;
    top: 8px;
  }
  .navmenutogle-clickarea{
    width: 50px;
    height: 40px;
    position: absolute;
    left: 8%;
    top: 0;
  }

  .navmenu-togle-label span{
    left: 18%;
    top: 48%;
  }

  .navbar_items{
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 250ms ease-in-out;
    position: absolute;
    top: 47px;
    left: -15%;
  }
  .navbar_container {
    position: sticky;
    top: 0;
    height: 57px;
    width: 100%;
  }

  .navbar_sections_container {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 15px 50px 15px 50px;
    background-color: #242327;
    border-right: 2px solid #e3e1e3;
    border-bottom: 2px solid #e3e1e3;
    border-radius: 0 0 2rem 0;
    /*background-color: #242327;*/
  }
  .navbar_sections_container a {
    padding: 0 3%;
    opacity: 0.51;
  }
  .navbar_sections_container a h2 {
    font-size: 1.2rem;
  }
  
  .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 80%;
  }
  .navbar_scrolled{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #e3e1e3;
  }
  .navbar_scrolled h3{
    margin: 0.3rem auto;
}
}

